.scoring
  = render partial: 'form', locals: { maneuver_participant: @record,
                                      maneuver: @maneuver,
                                      participant: @participant,
                                      submit_text: 'Save & next' }
  = link_to previous_participant_maneuver_path(@maneuver) do
    %button.btn.btn-secondary.actions{ type: :button }
      %i.fa-solid.fa-arrow-left
      %span.d-none.d-sm-inline Previous participant
