.scoring
  - if current_user.admin? && @record.creator.present?
    %h3 Score recorded by #{@record.creator.name}

  = render partial: 'form', locals: { maneuver_participant: @record,
                                      maneuver: @maneuver,
                                      participant: @participant }
  .mt-3
    = link_to previous_participant_maneuver_path(@maneuver, relative_to: @participant.number) do
      %button.btn.btn-secondary.actions{ type: :button }
        %i.fa-solid.fa-arrow-left
        %span.d-none.d-sm-inline Previous participant
    = link_to next_participant_maneuver_path(@maneuver, relative_to: @participant.number) do
      %button.btn.btn-secondary.actions{ type: :button }
        %span.d-none.d-sm-inline Next participant
        %i.fa-solid.fa-arrow-right
