language: ruby
rvm: 2.3.0
env: CODECLIMATE_REPO_TOKEN=b1b9b856c0aa49c7733aedea0b460b1c118c2ff1296db77bdcf762e6e8ff91c5 bundle exec rake
before_script:
  - mysql -e 'create database umasstransit_rodeo_test'
  - cp config/database.yml.example config/database.yml
script:
  - bundle exec rake db:reset
  - bundle exec rspec
notifications:
  email:
    on_success: never
    on_failure: change
    recipients: programmers@admin.umass.edu
