%h1 Which maneuver are you judging?

- @maneuvers.each do |maneuver|
  = link_to maneuver.name, next_participant_maneuver_path(maneuver)
  %br
%br
= link_to 'Enter circle check scores', circle_check_scores_path
%br
= link_to 'Enter quiz scores', quiz_scores_path

%br
= link_to 'Scoreboard', participants_path
