.participants
  - if @unassigned.present?
    = render 'add_to_queue'
  - else
    No participants to add to the maneuvers queue.
  = render 'shared/title', title: 'Participants'
  .uniqueness-warning.alert.alert-warning
    Please choose a unique participant number.
  = render 'table'
