- if @participants.present?
  .scoreboard
    %button.btn.btn-primary.fullscreen
      %i.fas.fa-expand
    .scoreboard-content= render partial: 'scoreboard_partial'
  = javascript_include_tag 'cable.js'
- else
  No participants yet.
