.welcome
  Welcome to the 2016 UMass Transit Roadeo mobile webapp!
  %hr
  Once the roadeo has begun, the scoreboard will be available here.
  %br
  Judges will be able to
  = link_to 'log in', new_user_session_path
  to record maneuver scores.
  .attributions
    = link_to 'This site', 'https://github.com/umts/umasstransit.rodeo'
    designed by
    = link_to 'David Faulkenberry', 'https://github.com/dfaulken'
    for
    = link_to 'UMass Transit IT', 'https://github.com/umts'
