.navbar.with-icon{
  min-height: 70px;
}

.navbar button{
  font-size: 30px;
}

a.navbar-brand img{
  height: 40px;
}

.navbar button.logout,button.login{
  background-color: #cce7ef;
  margin-right: 10px;
}
