.scoring {
  input[type=number] {
    width: 4em;
  }

  .btn.increment {
    i {
      line-height: $line-height-base;
    }
  }

  fieldset {
    border: 1px solid $secondary;
  }

  legend {
    width: auto;
  }
}
