.scoreboard-content {
  margin-top: 10px;
  max-height: calc(100vh - 230px);
  overflow: scroll;

  &::backdrop {
    background-color: $body-bg;
  }

  .table thead th {
    vertical-align: middle;

    .header-label {
      width: calc(100% - 1.5em);
      display: inline-block;
    }
    .header-icon {
      width: 1.5em;
      display: inline-block;
      text-align: right;
    }
  }
}

td.last-updated {
  animation: 1s linear 0s 5 blinkCell
}

@keyframes blinkCell {
  0% { background-color: transparent; }
  50% { background-color: white; }
  100% { background-color: transparent; }
}
