.scoreboard-sorting{
  margin-left: 5px;
  margin-bottom: 10px;
}

img.scoreboard-sort-loading{
  height: 30px;
  margin-bottom: 10px;
  padding: 3px;
}

table.scoreboard{
  border: 1px solid lightgrey;
  font-size: small;
  width: 100%;
}

table.scoreboard tr{
  border-bottom: 1px solid lightgrey;
}

table.scoreboard th{
  background: lightgrey;
  padding: 3px;
  text-align: center;
}

table.scoreboard td{
  border-left: 1px solid lightgrey;
  padding: 3px;
  text-align: center;
}

.attributions{
  color: grey;
  font-size: 20px;
  margin-top: 30px;
}

.attributions a{
  color: #4683b9;
}
