.scoring {
  input[type=number] {
    width: 4em;
  }

  .btn.increment {
    i {
      line-height: $line-height-base;
    }
  }

  .btn-group-toggle.checkbox .btn {
    i {
      @extend %fa-icon;
      @extend .fa-solid;

      &::before {
        content: fa-content($fa-var-circle);
      }
    }

    &.active i::before {
      content: fa-content($fa-var-check-circle);
    }
  }

  fieldset {
    border: 1px solid $secondary;
  }

  legend {
    width: auto;
  }
}
