table.scoreboard{
  border: 1px solid lightgrey;
  font-size: small;
}

table.scoreboard th{
  background: lightgrey;
  padding: 3px;
  text-align: center;
}

table.scoreboard td{
  text-align: center;
}
