.diagram{
  text-align: center;
}

.diagram img{
  max-width: 70%;
  max-height: 400px;
}

.actions{
  margin-top: 10px;
}

.scoring .field{
  margin-top: 5px;
}

.scoring input[type=checkbox]{
  margin-left: 10px;
  transform: scale(2,2);
}

.scoring input[type=number]{
  border: 1px solid lightgrey;
  border-radius: 5px;
  height: 30px;
  padding-left: 10px;
  width: 150px;
}

.scoring .btn-primary, .scoring .btn-secondary{
  margin-top: 10px;
}
