.diagram{
  text-align: center;
}

.diagram img{
  max-width: 70%;
  max-height: 400px;
}

.actions{
  margin-top: 10px;
}

.scoring .field{
  margin-top: 5px;
}

.scoring input[type=checkbox]{
  margin-left: 10px;
  transform: scale(2,2);
}
