- if @users.present?
  .table-responsive
    %table.table.table-striped
      %thead.thead-dark
        %tr
          %th Name
          %th Email
          %th
      %tbody
        - @users.each do |user|
          %tr
            %td= user.name
            %td= user.email
            %td.text-right
              = button_to 'Approve', approve_admin_user_path(user),
                class: 'btn btn-success', form_class: 'd-inline'
              = button_to 'Deny', admin_user_path(user), method: :delete,
                class: 'btn btn-danger', form_class: 'd-inline'
- else
  No users with pending approval.
