%h1 Onboard Judging
%hr

%table.select-participant.table
  %thead.thead-dark
    %tr
      %th Participant
      %th.text-center Has been judged?
      %th
  %tbody
    - @participants.each do |participant|
      %tr
        %td= participant.display_information(:name, :number)
        - if participant.onboard_judging.present?
          %td.text-center
            %i.fa-solid.fa-check
          %td.text-right
            = link_to participant.onboard_judging do
              %button.btn.btn-primary Review
        - else
          %td.text-center
            %i.fa-solid.fa-xmark
          %td.text-right
            = link_to new_onboard_judging_path(participant: participant.number) do
              %button.btn.btn-primary Judge
